      if object.token == '@@'
        .col-xs-12.col-sm-6.col-md-3.col-lg-2.brick
          a.box.block.event(href='/promote/events/#{object.id}',style='display:block; background:white')
            .content 
              h1.title #{object.name_trimmed} 
              h3.centered.title.subtitle #{object.location}
              if object.occurred
                h2.funded.lightgreen Evento confirmado
              h3.centered Para participar do evento:
              h1
               span.label.label-info.big-label
                | R$ #{object.value},00
            if object.visual
              img(src='#{object.visual}',width='100%')
            else
              img(src='#{static_url}img/events.png',width='100%')
            .id.hidden #{object.id}
            .date(style='color:black;') Ser&aacute no dia #{object.deadline.day} de #{object.month}
      if object.token == '@#'    
        .col-xs-12.col-sm-6.col-md-3.col-lg-2.brick
          .block
           .comment(style='background:#13C0B2')
           .comment(style='background:#35E0D4')
           a.box.promoted(href='#',style='display:block; background: white; color:black')
            .content
              h1 Projeto promovido por #{object.user.username} e outros
            .id.hidden #{object.id}
            .promotedid.hidden #{object.prom}
            .promotedtoken.hidden #{object.stoken}
            .date.black #{object.content} em #{object.date.day} de #{object.month}
      if object.token == '$#'    
        .col-xs-12.col-sm-6.col-md-3.col-lg-2.brick
          .block
           .comment(style='background:#13C0B2')
           .comment(style='background:#35E0D4')
           a.box.promoted(href='#',style='display:block; background: white; color:black')
            .content
              h1 Projeto promovido em um movimento de #{object.user.username}
            .id.hidden #{object.id}
            .promotedid.hidden #{object.prom}
            .promotedtoken.hidden #{object.stoken}
            .date.black #{object.content} em #{object.date.day} de #{object.month}
      if object.token == '@!'
        .col-xs-12.col-sm-6.col-md-3.col-lg-2.brick
          .block
           .comment(style='background:#13C0B2')
           .comment(style='background:#35E0D4')
           a.box.promoted(href='#',style='display:block; background: white; color:black')
            .content
              h1 Eventos promovidos por #{object.user.username} e outros
            .id.hidden #{object.id}
            .promotedid.hidden #{object.prom}
            .promotedtoken.hidden #{object.stoken}
            .date.black #{object.content} em #{object.date.day} de #{object.month} 
      if object.token == '#'
        .col-xs-12.col-sm-6.col-md-3.col-lg-2.brick
          a.box.block.project(href='/promote/projects/#{object.id}',style='display:block; color:black; background:white;')
            .content
              h1.title #{object.name_trimmed}
              if object.funded
                h2.funded.lightgreen Projeto financiado
              h3.centered Valor para ser alcan&ccedil;ado: 
              h1
                span.label.label-info.big-label
                  | R$ #{object.credit},00
            if object.visual
              img(src='#{object.visual}',width='100%')
            else
              img(src='#{static_url}img/projects.png',width='100%')
            .id.hidden #{object.id}
            .date(style='color:black') Vai at&eacute o dia #{object.end_time.day} de #{object.month}
      if object.token == '##'
        .col-xs-12.col-sm-6.col-md-3.col-lg-2.brick
          a.box.block.movement(href='#',style='display:block; background-color:#D2322D')
            .content
              h1.centered.title Movimento #{object.name_trimmed}
              h1.centered
                span.glyphicon.glyphicon-fire.giant-glyphicon(style='margin-bottom:10px')
              .id.hidden #{object.id}
            .date Come&ccedilou em #{object.date.day} de #{object.month}