      if object.token == '!'
        a.span3.block.spreadable(href='#',style='background:#00A946; color:white;')
          .box
            .content {{ object.content|safe }}
            .id.hidden #{object.id}
          .date #{object.date.day} de #{object.month}
      if object.etoken == '>'
        a.span3.block.playable(href='#{object.token}',style='background: #1364F0')
          .box
            img(src='#{object.visual}')
            .id.hidden #{object.id}
          .date #{object.date.day} de #{object.month}
      if object.token == '!%'
        a.span3.block.image(href='#',style='background:white')
          .box(style='background:black')
            .content(style='padding:0px;')
              img(src='#{object.link}',alt='#{object.description}')
            .id.hidden #{object.id}
          .date(style='color:black') #{object.date.day} de #{object.month}
      if object.token == '!#'
        a.span3.block.page(href='#',style='background:#F9A600')
          .box
            .content
              h2 #{object.name_trimmed}
              {{ object.content|safe }}
            .id.hidden #{object.id}
          .date #{object.date.day} de #{object.month}
          
      if object.token == '!!'
        a.span3.block.spreaded(href='#',style='background: #00CB68; color:black')
          .comment(style='background:#008724')
          .comment(style='background:#00A946')
          .box
            .content
              h2 Textos espalhados por #{object.user.username} e outros
            .id.hidden #{object.id}
            .spreadedid.hidden #{object.spread}
            .spreadedtoken.hidden #{object.stoken}
          .date #{object.date.day} de #{object.month}
      if object.token == '>!' 
        a.span3.block.spreaded(href='#',style='background: #3586F2; color:black')
          .comment(style='background:#0142D0')
          .comment(style='background:#1364F0')
          .box
            .content
              h2 V&iacute;deos espalhados por #{object.user.username} e outros
            .id.hidden #{object.id}
            .spreadedid.hidden #{object.spread}
            .spreadedtoken.hidden #{object.stoken}
          .date #{object.date.day} de #{object.month}
      if object.token == '%!'
        a.span3.block.spreaded(href='#',style='background: #444; color:white')
          .comment(style='background:#000')
          .comment(style='background:#222')
          .box
            .content
              h2 Imagens espalhadas por #{object.user.username} e outros
            .id.hidden #{object.id}
            .spreadedid.hidden #{object.spread}
            .spreadedtoken.hidden #{object.stoken}
          .date #{object.date.day} de #{object.month}
      
